<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>基于大数据的疫情监控与预测系统</title>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
<header>
    <h1>基于大数据的疫情监控与预测系统</h1>
    <div class="showTime"></div>
    <script>
        var formaDate = function () {
            var d = new Date()
            var year = d.getFullYear(), //多变量赋值
                month = d.getMonth() + 1, //month：从0开始
                date = d.getDate(),
                hour = d.getHours(),
                minute = d.getMinutes(),
                second = d.getSeconds();

            year = year < 10 ? '0' + year : year; //三元操作符
            month = month < 10 ? '0' + month : month;
            date = date < 10 ? '0' + date : date;
            hour = hour < 10 ? '0' + hour : hour;
            minute = minute < 10 ? '0' + minute : minute;
            second = second < 10 ? '0' + second : second;
            var a = year + '-' + month + '-' + date + ' ' + hour + ':' + minute + ':' + second
            $('.showTime').html(a);
        }
        setInterval(formaDate, 1000) //设定定时器，循环运行;

        window.onload = function () {
            var sections = document.getElementById("views");

            var indexes = sections.getElementsByClassName("index")
            var aSection = sections.getElementsByClassName("aSection")

            for (var i = 0; i < indexes.length; i++) {
                indexes[i].index = i;
                indexes[i].onclick = function () {
                    for (var j = 0; j < indexes.length; j++) {
                        indexes[j].style.background = 'none'
                        aSection[j].style.display = "none";
                    }
                    this.style.background = 'green'
                    aSection[this.index].style.display = "block";
                }
            }
        }
    </script>

</header>
<div id="views">
    <div class="tabs">
        <div class="active index index1"><h3>全球</h3></div>
        <div class="index index2"><h3>国内</h3></div>
        <div class="index index3"><h3>城市</h3></div>
        <div class="index index4"><h3>预测</h3></div>
    </div>

    <!--全球-->
    <div class="active aSection" style="display:block">
        <section class="mainbox">
            <!-- 左 -->
            <div class="column">
                <div class="panel bl bar">
                    <h2>各大洲累计确诊分布(不含国内)</h2>
                    <div class="chart"></div>
                    <div class="panelFooter"></div>
                </div>
                <div class="panel bl line">
                    <h2>全球疫情数据变化趋势(不含国内)</h2>
                    <div class="chart"></div>
                    <div class="panelFooter"></div>
                </div>
            </div>
            <!-- 中 -->
            <div class="column">
                <!-- 上模块 -->
                <div class="no">
                    <div class="no-hd no-hd-global">
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="no-bd">
                        <ul>
                            <li>累计确诊人数</li>
                            <li>累计治愈人数</li>
                        </ul>
                    </div>
                </div>
                <!-- 地图模块 -->
                <div class="map">
                    <div class="map1"></div>
                    <div class="map2"></div>
                    <div class="map3"></div>
                    <div class="chart" id="viewDiv"></div>
                    <div class="panelFooter"></div>
                </div>
            </div>
            <!-- 右 -->
            <div class="column">
                <div class="panel bl bar1">
                    <h2>各国累计确诊Top-15(不含国内)</h2>
                    <div class="chart"></div>
                    <div class="panelFooter"></div>
                </div>
            </div>
        </section>
    </div>

    <!--国内-->
    <div class="aSection" style="display: none">
        <button type="submit" onclick="chinaClick()">刷新</button>
        <section class="mainbox">
            <!-- 左 -->
            <div class="column">
                <div class="panel bl chinaBar">
                    <h2>各地区累计确诊分布</h2>
                    <div class="chart"></div>
                    <div class="panelFooter"></div>
                </div>
                <div class="panel bl chinaLine">
                    <h2>国内疫情数据变化趋势</h2>
                    <div class="chart"></div>
                    <div class="panelFooter"></div>
                </div>
            </div>
            <!-- 中 -->
            <div class="column">
                <!-- 上模块 -->
                <div class="no">
                    <div class="no-hd no-hd-china">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="no-bd">
                        <ul>
                            <li>累计确诊人数</li>
                            <li>累计治愈人数</li>
                            <li>现有确诊</li>
                            <li>累计死亡</li>
                        </ul>
                    </div>
                </div>
                <!-- 地图模块 -->
                <div class="chinaMap">
                    <div class="map1"></div>
                    <div class="map2"></div>
                    <div class="map3"></div>
                    <div class="chart" id="viewDiv"></div>
                    <div class="panelFooter"></div>
                </div>
            </div>
            <!-- 右 -->
            <div class="column">
                <div class="panel bl chinaBar1">
                    <h2>各省累计确诊Top-15</h2>
                    <div class="chart"></div>
                    <div class="panelFooter"></div>
                </div>
            </div>
        </section>
    </div>

    <!--城市-->
    <div class="aSection" style="display: none">
        <section class="mainbox">
            <!-- 左 -->
            <div class="column">
                <div class="panel bl provinceBar">
{#                    <h2>各城市累计确诊分布</h2>#}
{#                    <div class="chart"></div>#}
{#                    <div class="panelFooter"></div>#}
                    <select name="province" id="province"></select>
                    <select name="city" id="city" hidden="hidden"></select>
                    <button onclick="buttonClick()" type="submit" id="city-submit">确认</button>
                </div>
                <div class="panel bl provinceLine">
                    <h2>该省疫情数据变化趋势</h2>
                    <div class="chart"></div>
                    <div class="panelFooter"></div>
                </div>
            </div>
            <!-- 中 -->
            <div class="column">
                <!-- 上模块 -->
                <div class="no">
                    <div class="no-hd no-hd-province">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="no-bd">
                        <ul>
                            <li>累计确诊人数</li>
                            <li>累计治愈人数</li>
                            <li>现有确诊</li>
                            <li>累计死亡</li>
                        </ul>
                    </div>
                </div>
                <!-- 地图模块 -->
                <div class="provinceMap">
                    <div class="map1"></div>
                    <div class="map2"></div>
                    <div class="map3"></div>
                    <div class="chart" id="viewDiv"></div>
                    <div class="panelFooter"></div>
                </div>
            </div>
            <!-- 右 -->
            <div class="column">
                <div class="panel bl provinceBar1">
                    <h2>城市累计确诊Top-15</h2>
                    <div class="chart"></div>
                    <div class="panelFooter"></div>
                </div>
            </div>
        </section>
    </div>

    <!--预测-->
    <div class="aSection" style="display: none">
        <section class="mainbox">
            <!-- 左 -->
            <div class="column">
                <div class="panel bl bar">
                    <h2>预测</h2>
                    <div class="chart"></div>
                    <div class="panelFooter"></div>
                </div>
                <div class="panel bl line">
                    <h2>预测</h2>
                    <div class="chart"></div>
                    <div class="panelFooter"></div>
                </div>
            </div>
            <!-- 中 -->
            <div class="column">
                <!-- 上模块 -->
                <div class="no">
                    <div class="no-hd">
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="no-bd">
                        <ul>
                            <li>累计确诊人数</li>
                            <li>累计治愈人数</li>
                        </ul>
                    </div>
                </div>
                <!-- 地图模块 -->
                <div class="map">
                    <div class="map1"></div>
                    <div class="map2"></div>
                    <div class="map3"></div>
                    <div class="chart" id="viewDiv"></div>
                    <div class="panelFooter"></div>
                </div>
            </div>
            <!-- 右 -->
            <div class="column">
                <div class="panel bl bar1">
                    <h2>预测</h2>
                    <div class="chart"></div>
                    <div class="panelFooter"></div>
                </div>
            </div>
        </section>
    </div>
    <div class="data">--数据来源于腾讯API</div>
</div>

<!--布局-->
<script src="../static/js/flexible.js"></script>
<script src="../static/js/map/world.js"></script>
<script src="../static/js/map/china.js"></script>


{#<script src="../static/js/echarts.min.js"></script>#}
<!--     <script src="js/arcgis.js"></script> -->
<script src="../static/js/index.js"></script>
<script src="../static/js/china-chart.js"></script>
<script src="../static/js/province-chart.js"></script>
</body>

</html>